<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>Button</title>
</head>
<body>
  <button class="btn-icon bgr-red br-50 color-white"><i class="bi bi-funnel"></i></button>
  
  <a href="#"><button class="btn-icon bgr-white hover-bg-red br-50 shadow-01"><i class="fa-regular fa-heart fw-500"></i></button></a>
  <a href="#"><button class="btn-icon bgr-black hover-bg-red br-50"><i class="fa-brands fa-twitter"></i></button></a>

  <a href="#"><button class="btn-icon bgr-white hover-bg-red color-black shadow-01"><i class="fa-regular fa-heart"></i></button></a>

  <div class="filter-btn">
    <button class="btn-icon bgr-red br-50 color-white"><i class="bi bi-funnel"></i></button>
    <span class="filter-btn_text color-black">FILTER</span>
  </div>

  <a href="#"><button class="btn-text bgr-white hover-bg-red outline-black">SHOP NOW</button></a>

  <a href="#"><button class="btn-text bgr-white hover-bg-trans">SHOP NOW</button></a>

  <a href="#"><button class="btn-text bgr-white hover-text-red">SHOP NOW</button></a>

  <a href="#"><button class="btn-text-lg bgr-black hover-bg-red">ADD TO CART</button></a>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item pagination-item"><a class="page-link color-black" href="#"><i class="fa-solid fa-angle-left"></i></a></li>
      <li class="page-item pagination-item"><a class="page-link color-black pg-action" href="#">1</a></li>
      <li class="page-item pagination-item"><a class="page-link color-black" href="#">2</a></li>
      <li class="page-item pagination-item"><a class="page-link color-black" href="#">3</a></li>
      <li class="page-item pagination-item"><a class="page-link color-black" href="#"><i class="fa-solid fa-angle-right"></i></a></li>
    </ul>
  </nav>
  <div class="filter-product">
    <div class="filter-btn" data-toggle="collapse" data-target="#collapseExample">
      <button class="btn-icon bgr-red br-50 color-white"><i class="bi bi-funnel"></i></button>
      <button class="filter-btn_text color-black">FILTER</button>
    </div>
    <div class="filter-boards bgr-white collapse" id="collapseExample">
      <div class="filter-boards_close hover-text-red" data-toggle="collapse" data-target="#collapseExample">
        <i class="fa-solid fa-xmark"></i>
        Hide Filters
      </div>
      <div class="filter-boards_categories row">
        <div class="filter-boards_category col-12 col-lg">
          <div class="filter-boards_category-tittle">CATEGORIES</div>
          <div class="filter-boards_category-options">
            <div class="options-item">A</div>
            <div class="options-item">A</div>
            <div class="options-item">A</div>
            <div class="options-item">A</div>
          </div>
        </div>
        <div class="filter-boards_category col-12 col-lg">
          <div class="filter-boards_category-tittle">COLOR</div>
          <div class="filter-boards_category-options"></div>
        </div>
        <div class="filter-boards_category col-12 col-lg">
          <div class="filter-boards_category-tittle">PATTERN</div>
          <div class="filter-boards_category-options"></div>
        </div>
        <div class="filter-boards_category col-12 col-lg">
          <div class="filter-boards_category-tittle">TAGS</div>
          <div class="filter-boards_category-options"></div>
        </div>
        <div class="filter-boards_category col-12 col-lg">
          <div class="filter-boards_category-tittle">FILTER BY PRICE</div>
          <div class="filter-boards_category-options"></div>
        </div>
      </div> 
    </div>
  </div>

  <div class="action-link">
    <i class="fa-regular fa-user action-icon"></i>
    RETURNING CUSTOMER?
    <a href="#" class="action-content">CLICK HERE TO LOGIN</a>
  </div>

  <div class="bgr-gray">
    <button class="btn-icon-cb-text bd-white-02 rounded-pill">
      <a href="#" class="color-white">
        <i class="fa-regular fa-user action-icon"></i>
        <span class="btn-content poppins">Login</span>
      </a>
    </button>

    <button class="btn-badge">
      <a href="#" class="color-white">
        <i class="bi bi-bag"></i>
        <span class="badge">4</span>
      </a>  
    </button>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb color-white">
        <li class="breadcrumb-item poppins" aria-current="page"><a href="#" class="color-white">Home</a></li>
        <li class="breadcrumb-item poppins" aria-current="page">About</li>
      </ol>
    </nav>
  </div>
  <a class="btn-link hover-text-red color-black poppins">Lost your password?</a>
  <script src="./assets/js/index.js"></script>
  <script src="https://kit.fontawesome.com/1516c7732a.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>