<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../assets/css/components/components_2.css">
    <link rel="stylesheet" href="../assets/imgs/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<div class="container">
    <div class="select_st">
        <select id="countries" name="countries" class="pix_text">
        <option value="">Default sorting</option>
        <option value="Afghanistan">Sort by popularity</option>
        <option value="Aland Islands">Sort by average rating</option>
        <option value="Albania">Sort by latest</option>
        <option value="Algeria">Sort by price:low to high</option>
        </select>
    </div>
    <br>
    <div id="link">
        Lost your password?
        <br>
        <br>
        <br>
        <a href="#" style="color: red">Lost your password</a>
    </div>
<!--    <br>-->
    <button id="btn-icon-sm"><i class="fa fa-search" aria-hidden="true"></i></button>
    <button id="btn-icon-cb-text"><i class="fa fa-user-o" aria-hidden="true"></i>&nbsp;Login</button >
    <button id="btn-badge"><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
</div>
<br>
<div id="checkout-card-product">
    <img src="../assets/imgs/icons/img_char.jpg" width="200px" height="200px">
   <div id="infor-pro">
       <div id="name">Beelte chair x1 &nbsp; 200.00$</div>
    <p id="color" class="text">Color:</p>
    <p id="begin" >Beign</p><br>
    <p id="pattern" class="text">Pattern:</p>
    <p id="wood" >Wood</p>
    <p id="size" class="text">Size:</p>
    <p id="large">Large</p>
   </div>

</div>
<div id="lg-btn"><i class="fa fa-user-o" aria-hidden="true"></i>&nbsp; RETURNING CUSTOMER?
<a href="#" style="color:black">CLICK HERE TO LOGIN</a></div>
<br>
<div id="Breadcrumbs">
    <span itemprop="name">Home</span></a><meta itemprop="position" content="1">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    <span itemprop="item"><span itemprop="name">Blog</span></span><meta itemprop="position" content="2"></li>
<div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs"></div>
</div>
    <div id="card-shop">
        <img src="../assets/imgs/icons/card_product.jpg" width="500px" height="500px">
        <p>Storage</p>
        <a href="#">Show now</a>
    </div>

</body>
</html>