<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/components/card-product.css">
    <link rel="stylesheet" href="../assets/css/components/button.css">
    <link rel="stylesheet" href="../assets/css/components/caston-breadcrumbs.css">
    <link rel="stylesheet" href="../assets/css/components/card-shop.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto|Poppins" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>components_2</title>
    
</head>
<body>
<div class="chekout-card-product">
    <img width="300px" height="300px" role="presentation" src="../assets/imgs/icons/img_Char.jpg">
   <div class="infor-pro">
    <p class="name-prod" class="t">Beetle chair x 1 &nbsp;&nbsp; 200.00$</p>
       <br>
    <p class="text" id="color">Color :</p>
    <p class="color">Beign</p>
    <p class="text" id="Partten">Partten :</p>
    <p class="name-pro">wood</p>
    <p class="text">Size:</p>
    <p class="Size">Large</p>
   </div>
</div>
    <div class="header-btn">
        <a href="#"><button class="btn-icon-sm" type="button"> <img src="../assets/imgs/icons/search.png"></i></button></a>
        <br>
        <button class="btn-badge" type="button"><i class="fa fa-shopping-bag" aria-hidden="true"></i></button>
        <br>
        <button class="btn-icon-cb-text" type="button"><img src="../assets/imgs/icons/user.jpg"> Login</button>
        <br>
        <br>
        <button class="lg-btn"><img src="../assets/imgs/icons/user.jpg"> RETURNING CUSTOMER ?<a href="#" STYLE="color: black"> LICK HERE TO LOGIN</a></button>
    </div>

    <section class="section-input">
        <div class="select_st">
            <select id="sort"  class="pix_text">
            <option value="">Default sorting</option>
            <option value="Afghanistan">Sort by popularity</option>
            <option value="Aland Islands">Sort by average rating</option>
            <option value="Albania">Sort by latest</option>
            <option value="Algeria">Sort by price: low to high</option>
            </select>
        </div>
    </section>
<br>
<br>
<div class="link-pwd" style="color: var(--cta-09);;">Lost your password?
    <br>
    <br>
    <br>
    <br>
    <a href="#" style="color: var(--ctb-09);">Lost your password?</a>
</div>
<br>
<br>
<div class="caston-breadcrumbs"><div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
           <span itemprop="name">Home</span>
             <i class="fa fa-chevron-right" aria-hidden="true"></i>
        <span itemprop="item"><span itemprop="name">About</span></span><meta itemprop="position" content="2"></li></ul></div></div>
<div class="card-shop">
    <img src="../assets/imgs/icons/img_Shelving.jpg">
    <div class="name">Storage</div>
    <a href="#">Shop now</a>
</div>
<!-- <div><a href="./components/components_2.html">Buttons</a></div> -->
</body>
</html>
