button {
  border: none;
}

button:focus{
  outline: none;
}

/* BUTTON ICONS */

.btn-icon {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
  font-weight: bold;
  transition: 0.3s;
}
/* BUTTON TEXT */

.btn-text {
  padding: 0.8em 2.5em;
  font-weight: 600;
  transition: 0.3s;
}

.btn-text-lg {
  padding: 0.8em 7em;
  font-weight: 600;
  transition: 0.3s;
}
 #header-btn #btn-icon-sm{
  background-color: var(--ctb-09);
  width:0.3rem;
  height:0.3rem;
  -moz-border-radius: 10rem;
  -webkit-border-radius:10rem;
  color: var(--cta-01);
}
 #header-btn #btn-badge{
  background-color: var(--cta-05);
  color: var(--cta-01);
  width: 0.3rem;
  height: 0.3rem;
  
}
 #header-btn #btn-icon-cb-text{
  width:100rem;
  height:0.3rem;
  -moz-border-radius: 10rem;
  -webkit-border-radius:0.1rem;
  color: var(--cta-01);
  background-color: var(--cta-05);
}
 #header-btn #lg-btn{
  color: var(--cta-09);
  height: 0.5rem;
  width: 50rem;
  font-weight: bold;

}