
.card-shop a{
    margin-top: -30rem;
    margin-left: 19rem;
    font-size: 100%;
    color: var(--cta-09);
}
.card-shop .name{
    margin-top: -10rem;
        margin-left: 18rem;
        font-size: 180%;
    }
    .card-shop img{
        width: 40rem;
        height: 40rem;
    }