#chekout-card-product #infor-pro{
    float: right;
    margin-top: 0.5rem;
}
#chekout-card-product #infor-pro img{
    max-width: 10rem;
    height: auto;
    float: left;
    border: 1px solid var(--cta-05);
    margin:auto;
}
 #chekout-card-product {
    width: 800rem;
    height: 40rem;
    display: flex;
}
 #chekout-card-product #infor-pro .t{
    display:inline-flex;
}
 #chekout-card-product #infor-pro .price {
     display: flex;
     margin-top: -0.3rem;
 }
 #chekout-card-product #infor-pro p{
    display: inline-flex;
}
 #chekout-card-product .text{
    color: var(--cta-01);
    }
