#card-shop a{
    margin-top: -150px;
    margin-left: 180px;
    font-size: 100%;
    /*font-weight: bold;*/

}
#card-shop #name{
    margin-top: -150px;
        margin-left: 170px;
        font-size: 180%;
        /*font-weight: bold;*/
    
    }