.caston-breadcrumbs li{
    list-style: none;
    /*color:white;*/
    display: inline-flex;
}
.caston-breadcrumbs{
    background-color: var(--cta-09);
    color: var(--cta-01);
    width: 10rem;
    text-align: center;
    cursor: pointer;
}