@import url('./menu.css');

body{
    margin:0px;
}

.container #chekout-card-product {
    width: 800px;
    height: 400px;
    display: flex;
}
#chekout-card-product #infor-pro{
    float: right;
    margin-top: 50px;
}
#chekout-card-product #infor-pro img{
    max-width: 100px;
    height: auto;
    float: left;
    border-color: black;
    border-style: solid;
    border-width: 2px ;
    margin:auto;
}
.container #chekout-card-product #infor-pro .t{
    display:inline-flex;
}
.container #chekout-card-product #infor-pro .price {
     display: flex;
     margin-top: -30px;
     /* margin-right: 1300px;*/
 }


#chekout-card-product #infor-pro p{
    /*margin:0px;*/
    display: inline-flex;
}

/*#chekout-card-product #infor-pro .text1{*/
/*    !*margin:0px;*!*/
/*    display: inline-flex;*/
/*}*/
.container #header-btn #btn-icon-sm{
    background-color: red;
    width:30px;
    height:30px;
    -moz-border-radius: 100px;
    -webkit-border-radius:100px;
    color: white;
    
}
.container #header-btn #btn-badge{
    background-color: gray;
    color: white;
    
}
.container #header-btn #btn-icon-cb-text{
    /*background-color: red;*/
    width:100px;
    height:30px;
    -moz-border-radius: 100px;
    -webkit-border-radius:10px;
    color: white;
    background-color: gray;
}
.container #header-btn #btn-badge{
    width: 30px;
    height: 30px;
}
.container #header-btn #lg-btn{
    color: black;
    height: 50px;
    width: 500px;
    font-weight: bold;
  
}
.container #chekout-card-product .text{
color: grey;
}
.caston-breadcrumbs li{
    list-style: none;
    /*color:white;*/
    display: inline-flex;
}
#card-shop #name{
margin-top: -150px;
    margin-left: 170px;
    font-size: 180%;
    /*font-weight: bold;*/

}
#card-shop a{
    margin-top: -150px;
    margin-left: 180px;
    font-size: 100%;
    /*font-weight: bold;*/

}
.caston-breadcrumbs{
    background-color: black;
    color: white;
    width: 100px;
}
@import url("./button.css");
@import url("./filter-btn.css");
@import url("./pagination.css");
