.container #btn-icon-sm{
    width: 30px;
    height: 30px;
    color: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-color: red;
}
.container #btn-icon-cb-text{
    width: 100px;
    height: 30px;
    color: white;
    -moz-border-radius: 80px;
    -webkit-border-radius: 100px;
    background-color:grey;
}
#lg-btn {
    width: 500px;
    height: 30px;
    text-align: center;
}
.container #btn-badge{
color: white;
    background-color:grey;
}
#checkout-card-product {
    display: flex;
}

#checkout-card-product #infor-pro p{
   display: inline-flex;
}
#checkout-card-product .text{
    color: grey;
}
#lg-btn {
    width: 500px;
    /*height: 50px;*/
    background-color: rgba(214,200,255,0.77);
}

#card-shop p{
   font-size: 2rem;
    margin-top: -150px;
    margin-left: 200px;
}
#card-shop a{
color: black;
    margin-top: -350px;
    margin-left: 200px;


}
