.filter-btn {
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.filter-btn_text {
  background: var(--cta-02);
  padding: 5px 20px 5px 35px;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  margin-top: auto;
  left: 15px;
  z-index: -1;
  height: fit-content;
}