.status-error{
    text-align: center;
}
.status-error> h1{
    font-size: 300px;
    margin-bottom: 0.2em;
}
.status-error> h2 {
    margin-bottom: 0.4em;
    font-size: 2.5rem;
}
.status-error> span {
    color: var(--cta-06);
    font-size: 1.375rem;
}